<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Color Contrast Checker by Chris and Alex</title>
  <link rel="stylesheet" href="style.css">

  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300,400,500,600,700" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
  <script type="text/javascript" src="scripts/main.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="app">

      <h1>Color Contrast Checker</h1>
      <h3>A site to help you check your contrast.</h3>

      <div class="inputs">

        <div class="foreground input-div">
          <label>Foreground Color</label><br>
          <div class="input-container bordered" id="foreground-input-container">
            <span>#</span>
            <input type="text" class="text-color" id="foreground-input">
          </div>
          <div id="js-foreground-color-picker" class="input-div">
            <js-color-picker :change="updateColor" id="foreground-color-picker"></js-color-picker>
          </div>
        </div>

        <div class="background input-div last">
          <label>Background Color</label><br>
          <div class="input-container bordered">
            <span>#</span>
            <input type="text" class="text-color" id="background-input">
          </div>
          <div id="js-background-color-picker" class="input-div">
            <js-color-picker :change="updateColor" class="last" id="background-color-picker"></js-color-picker>
          </div>
        </div>

      </div>

      <label>Contrast Ratio</label>
      <h2><span id="ratio-to-change">0.00</span><span> : </span>1</h2>

      <h3><a href="/" id="make-it-work">I suck. Make it work for me.</a></h3>

      <div class="result-boxes">

        <div class="result-box bordered">
          <div class="check-icon-container" id="aa-small">
            <img src="images/check.svg" class="checkbox" id="aa-small-icon"><br>
          </div>
          <p class="test-type">WCAG AA</p>
          <p class="point-sizes">Point sizes below 18</p>
        </div>

        <div class="result-box bordered">
          <div class="check-icon-container" id="aaa-small">
            <img src="images/check.svg" class="checkbox" id="aaa-small-icon">
          </div>
          <p class="test-type">WCAG AAA</p>
          <p class="point-sizes">Point sizes below 18</p>
        </div>

        <div class="result-box bordered">
          <div class="check-icon-container" id="aa-large">
            <img src="images/check.svg" class="checkbox" id="aa-large-icon">
          </div>
          <p class="test-type">WCAG AA</p>
          <p class="point-sizes">Point sizes above 18</p>
        </div>

        <div class="result-box bordered last">
          <div class="check-icon-container" id="aaa-large">
            <img src="images/check.svg" class="checkbox" id="aaa-large-icon">
          </div>
          <p class="test-type">WCAG AAA</p>
          <p class="point-sizes">Point sizes above 18</p>
        </div>

      </div>

      <footer>
        <h3>Built by <a href="http://www.github.com/gloverab" target="_blank">Alex</a></h3>
      </footer>



    </div>
  </div>
</body>

<template id="color-picker-template">

  <div class="js-color-picker">
    <div class="color-picker__overlay" v-if="isVisible" v-on:click="hide"></div>
    <transition name="pop">
      <div class="color-picker__flyout" v-if="isVisible">
        <div class="color-chip" v-bind:style="{'background': color}">
        </div>
        <div class="color-picker__inner">
          <div class="control" v-bind:style="gradientH">
            <input type="range" min="0" max="360" v-model="h" />
          </div>
          <div class="control" v-bind:style="gradientS">
            <input type="range" min="0" max="100" v-model="s" />
          </div>
          <div class="control" v-bind:style="gradientL">
            <input type="range" min="0" max="100" v-model="l" />
          </div>
        </div>
      </div>
    </transition>
    <div class="swatch" v-bind:style="{'background': color}" v-on:click="toggle"></div>
  </div>
</template>

</html>
