/*This has only been tested in Google Chrome. Will update and optimize
for Firefox and Safari in the nearish future, maybe.*/

/*The global styles especially could perhaps use some consolidation,
although each element is pretty unique. I'd like to toy around with it.*/

body {
  width: 100%;
  margin: 0 auto;
  background-color: #F9F9F9;
  font-family: 'Roboto',sans-serif;
}

h1, h2 {
  margin: 0;
  font-family: 'AbrilFatFace-Regular', sans-serif;
  color: #030303;
}

h1 {
  font-size: 3.125em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #030303;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}

p {
  text-align: center;
  margin: 0;
}

input {
  border: none;
  font-size: 1em;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
   font-style: italic;
   color: #E8E8E8;
}
:-moz-placeholder {
   font-style: italic;
   color: #E8E8E8;
}
::-moz-placeholder {
   font-style: italic;
   color: #E8E8E8;
}
:-ms-input-placeholder {
   font-style: italic;
   color: #E8E8E8;
}

label {
  font-size: .75em;
}

.wrapper {
  margin: 0 auto;
  width: 645px;
}

.app {
  margin-top: 100px;
}

.bordered {
  background-color: white;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

.inputs {
  margin-top: 35px;
  margin-bottom: 40px;
}

.inputs span {
  display: inline-block;
  font-size: 1.25em;
  color: #E8E8E8;
  font-weight: 300;
  margin-left: 5px;
}

.input-div {
  display: inline-block;
  vertical-align: bottom;
}

.input-container {
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
  margin-right: 8px;
  padding: 13px;
  width: 220px;
  max-height: 52px;
}

#background-color-picker {
  margin-right: 0;
}

.result-boxes {
  margin-top: 35px;
}

.result-box {
  margin-right: 20px;
  display: inline-block;
  width: 140px;
  height: 150px;
  text-align: center;
  vertical-align: top;
  position: relative;
}

.check-icon-container {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #81C70C;
}

.checkbox {
  margin-top: 9px;
}

.test-type {
  font-size: 1.2em;
  color: #565656;
  font-weight: 500;
}

.point-sizes {
  display: inline-block;
  background-color: #E9E9E9;
  margin-top: 7px;
  font-weight: 300;
  font-size: .65em;
  color: #565656;
  padding: 3px 5px;
  border-radius: 5px;
}

.last {
  margin-right: 0;
}

footer {
  margin-top: 40px;
  margin-bottom: 100px;
  text-align: center;
}

footer a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width .2s;
}

footer a:hover::after {
  width: 100%;
}

footer span {
  font-family: 'AbrilFatFace-Regular', sans-serif;
}

/*Styles for JS COLOR PICKER*/

.js-color-picker {
  margin-right: 16px;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}

.color-picker__overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0;
  background: black;
  z-index: 0;
  opacity: 0;
}

.color-picker__flyout {
  width: 240px;
  border: 1px solid #eee;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.12);
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  position: absolute;
  bottom: -170px;
  left: -100px;
  z-index: 2;
}

.color-picker__inner {
  padding: 1.5rem 1rem;
}

.color-chip {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px 4px 0 0;
}

.color-chip__subtitle {
  margin-top: 0.5rem;
  opacity: 0.7;
  font-weight: normal;
  font-size: 15px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.color-chip__title {
  color: white;
  margin: 0;
  font-size: 50px;
  letter-spacing: 4px;
  font-family: Helvetica Neue;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.control {
  width: 100%;
  height: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.control + .control {
  margin-top: 1rem;
}

.control input {
  width: 100%;
  margin: 0;
}

.control input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

.control input[type=range]:focus {
  outline: none;
}

.control input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.control input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #ddd;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  margin-top: -4px;
}

.swatch {
  width: 43px;
  height: 43px;
  border: 4px solid white;
  border-radius: 4px;
  box-shadow: 0 0 0 1px hsl(0, 0%, 91%);
  cursor: pointer;
}

.swatch:hover {
  border: 4px solid white;
  opacity: 0.8;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.pop-enter-active,
.pop-leave-active {
  transition: transform .3s, opacity .5s;
  transition-timing-function: cubic-bezier(.8, .3, 0.25, 1.2);
  transform: scale(1);
}

.pop-enter,
.pop-leave-active {
  opacity: 0;
  transform: scale(0);
}


/*This barely does anything other than make it not a TOTAL eyesore. Will
update in days to come.*/

@media screen and (max-width: 645px) {

  body {
    text-align: center;
  }

  .app {
    margin-top: 0;
  }

  .wrapper {
    width: 375px;
  }

  .inputs {
    margin-bottom: 10px;
  }

  .input-div {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
  }

  .input-container {
    margin-bottom: 10px;
  }

  .js-color-picker {
    text-align: center;
    margin-right: 0;
    display: inline-block;
    position: relative;
  }

  .swatch {
    display: inline-block;
  }

  .result-box {
    margin-bottom: 5px;
    margin-right: 0;
  }

  footer {
    margin-bottom: 20px;
  }
}
