/*Disclaimer!!! This is currently completely unresponsive. It has
also only been tested in CHROME. Will update and optimize for Firefox
and Safari in the nearish future, maybe.*/

/*The global styles especially could perhaps use some consolidation,
although each element is pretty unique. I'd like to toy around with it.*/

body {
  width: 100%;
  margin: 0 auto;
  background-color: #F9F9F9;
  font-family: 'Roboto',sans-serif;
}

h1, h2 {
  margin: 0;
  font-family: 'AbrilFatFace-Regular', sans-serif;
  color: #030303;
}

h1 {
  font-size: 3.125em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #030303;
}

p {
  text-align: center;
  margin: 0;
}

input {
  border: none;
  font-size: 1em;
}

input:focus {
  outline: none;
}

.inputs span {
  font-size: 1.25em;
  color: #E8E8E8;
  font-weight: 300;
  padding: 5px;
}

label {
  font-size: .75em;
}

.wrapper {
  margin: 0 auto;
  width: 645px;
}

.app {
  margin-top: 100px;
}

.bordered {
  background-color: white;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

.inputs {
  margin-top: 35px;
  margin-bottom: 40px;
}

.input-div {
  display: inline-block;
}

.input-container {
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
  margin-right: 8px;
  padding: 13px;
  width: 220px;
}

.color-picker {
  vertical-align: bottom;
  width: 52px;
  height: 52px;
  margin-right: 16px;
}

.result-boxes {
  margin-top: 35px;
}

.result-box {
  margin-right: 20px;
  display: inline-block;
  width: 140px;
  height: 150px;
  text-align: center;
  vertical-align: top;
  position: relative;
}

.check-icon-container {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #81C70C;
}

.checkbox {
  margin-top: 9px;
}

.test-type {
  font-size: 1.2em;
  color: #565656;
  font-weight: 500;
}

.point-sizes {
  display: inline-block;
  background-color: #E9E9E9;
  margin-top: 7px;
  font-weight: 300;
  font-size: .65em;
  color: #565656;
  padding: 3px 5px;
  border-radius: 5px;
}

.last {
  margin-right: 0;
}

footer {
  margin-top: 40px;
  text-align: center;
}

footer a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}

footer a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width .2s;
}

footer a:hover::after {
  width: 100%;
}

footer span {
  font-family: 'AbrilFatFace-Regular', sans-serif;
}

/*This barely does anything other than make it not a TOTAL eyesore. Will
update in days to come.*/

@media screen and (max-width: 645px) {

  body {
    text-align: center;
  }

  .app {
    margin-top: 0;
  }

  .wrapper {
    width: 375px;
  }

  .inputs {
    margin-bottom: 20px;
  }

  .input-div {
    margin-bottom: 30px;
  }

  .color-picker {
    margin-right: 0;
  }

  .result-box {
    margin-bottom: 5px;
    margin-right: 0;
  }

  footer {
    margin-bottom: 20px;
  }
}
